body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    
    min-height: 100%;
    overflow: auto;
    padding: 20px;    
}

.content p{
    text-align: center;
}

.video-container {
    padding-top: 150px;
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    text-align: center;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}
.my_btn {
    background-color: #333;
    border-color: transparent;
}

.my_btn > a {
    color: #fff;
}

.index-table {
    overflow-x: auto;
    border: none;
}

/* Index Page */

.hero {
    position: relative;
    text-align: center;
    padding: 100px 0;
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.297);
}

.hero h1, .hero p {
    position: relative;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.index_btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.index_btn:hover {
    background-color: white;
    color: #333333;
}

.featured-products {
    text-align: center;
    padding: 50px 0;
}

.logo {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product {
    display: inline-block;
    margin: 0 20px;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.product p {
    font-size: 1.2em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-item > a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu-item-has-children > a::after {
    color: #333;
    content: ' ▼';
}

.sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu .menu-item {
    width: 200px;
}

.sub-menu .menu-item > a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu .menu-item > a:hover {
    background-color: #f0f0f0;
}

.navbar{
    margin-left: 5%;
    margin-right: 5%;
    /* border: 0.5px solid #ccc; */
}
.navbar-toggler{
    padding-left: 150px;
}

.newsletter {
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
}

.newsletter h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.site-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.site-search form {
    display: flex;
}

.site-search input[type="search"] {
    border-radius: 5px 0 0 5px;
}

.site-search button {
    border-radius: 0 5px 5px 0;
}

/* My Footer */
.my_footer {
    margin-top: 120px;
}
